* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Noto Sans TC";
}
/* 這方式設置好聰明... */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.content {
  flex: 1;
}

.nav-bar {
  position: relative;
  height: 54px;
  /* background: red; */
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1.5px solid rgba(232, 232, 232, 1);
}
.second-nav-bar {
  position: absolute;
  max-width: 1200px;
  width: 100%;
  height: 34px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: aqua; */
  border-bottom: red;
}

.title {
  position: absolute;
  width: 150px;
  height: 34px;
  font-family: "Noto Sans TC";
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #448899;
  left: 0;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 175px;
  height: 34px;
  right: 0px;
  bottom: 0px;
}

.firstbtn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 84px;
  height: 34px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.secondbtn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 91px;
  height: 34px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.first-bar-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 84px;
  height: 34px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  color: #666666;
  text-decoration: none;
}

.second-bar-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 92px;
  height: 34px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  color: #666666;
  text-decoration: none;
}
.second-bar-btn:hover,
.first-bar-btn:hover {
  color: #448899;
}
/* !navbar set up */

/* !pic and discrebe */

.pic-on-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.left-div,
.right-div {
  width: 36px;
  height: 36px;
  opacity: 1;
  flex-shrink: 0;
}
.left-div {
  margin-left: 10px;
}
.right-div {
  margin-right: 10px;
}

.right-mrt-btn,
.left-mrt-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: none;
  box-shadow: none;
}

.right-mrt-btn img,
.left-mrt-btn img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  opacity: 0.75;
  transition: opacity 0.3s ease;
}

.right-mrt-btn:hover img,
.left-mrt-btn:hover img {
  opacity: 1;
}

.indicator {
  max-width: 540px;
  width: 100%;
  height: 12px;
  position: absolute;
  top: 378px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-1 {
  width: 12px;
  height: 12px;
  gap: 0px;
  opacity: 0px;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  margin: 0 6px;
}
.box-2 {
  width: 12px;
  height: 12px;
  gap: 0px;
  opacity: 0px;

  background: rgba(0, 0, 0, 1);
  border-radius: 50%;
  border: 1px solid;
  border: 1px solid rgba(255, 255, 255, 1);
  margin: 0 6px;
}
/* !pic */
.pic-day-contain {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pic-day {
  max-width: 1200px;
  width: 100%;

  height: 400px;
  margin-top: 40px;
  left: 360px;
  padding: 0px 15px 0px 15px;
  opacity: 0px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 30px;
}

.divider-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.divider {
  max-width: 1200px;
  min-width: 340px;
  width: 100%;
  height: 1px;
  background-color: rgba(232, 232, 232, 1);
  margin: 0 10px 0 10px;
}
.pic-on-left {
  max-width: 540px;
  width: 100%;
  max-height: 400px;
  height: 100%;
  border-radius: 5px;
  opacity: 1px;
  /* background-image: url("https://raw.githubusercontent.com/RaphaFang/taipei-day-trip/develop/static/css_js_folder/pic/test.png"); */
  background-position: center center;
  background-size: cover;
}

.day-on-right {
  max-width: 600px;
  width: 100%;

  height: 400px;
  opacity: 0px;
  /* background: #448899; */
}
/* !pic end */
/* !day */
.title-of-attrac {
  height: 33px;
  font-family: Noto Sans TC;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
  display: flex;
  align-items: center;
}
.tag-mrt-of-attrac {
  height: 22px;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 400;
  line-height: 13.3px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.grey-box {
  background: rgba(232, 232, 232, 1);
  max-width: 600px;
  width: 100%;
  height: 302px;
  border-radius: 5px;
}

.grey-box-title-p {
  display: inline-block;
  color: rgba(102, 102, 102, 1);

  height: 22px;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: left;
  margin: 25px 20px 15px 20px;
}
.grey-box-discribe {
  height: 24px;
  color: rgba(102, 102, 102, 1);

  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 400;
  line-height: 13.3px;
  text-align: left;
  margin: 0px 20px 15px 20px;
}
.grey-box-day {
  height: 35px;
  margin: 0px 20px 15px 20px;
}
.grey-box-day-p {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
}
/* 這邊的設置太複雜了... 我的理解是要設定雙層，一層圖片一層點及區？*/
.grey-box-day-date {
  position: relative;
  background: rgba(255, 255, 255, 1);
  background-size: 24px 24px, auto;
  padding: 5px 34px 5px 10px;
  border: 0px;

  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 400;
  line-height: 13.3px;
  text-align: left;

  height: 35px;
  max-width: 193px;
  width: 100%;
}
.grey-box-day-date::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url("https://raw.githubusercontent.com/RaphaFang/taipei-day-trip/develop/static/css_js_folder/pic/date.png")
    no-repeat center center;
  background-size: contain;
  pointer-events: none;
}
.grey-box-day-date::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0;
}
/* !time-select */
.time-selection {
  display: flex;
  align-items: center;
  margin: 0px 20px 20px 20px;
}

.time-selection-p {
  width: 81px;
  height: 22px;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-selection-radio-first,
.time-selection-radio-second {
  display: inline-block;
  width: 87px;
  height: 22px;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-selection-radio-first {
  margin-right: 5px;
}
.time-selection input[type="radio"] {
  width: 22px; /* 调整圆圈的宽度 */
  height: 22px; /* 调整圆圈的高度 */

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* 要先洗掉預設，這是必要操作 */
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  margin-right: 4px;
}
.time-selection input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgba(68, 136, 153, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.charge {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0px 20px 25px 20px;
  height: 22px;
}
.charge-title {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
  margin-right: 6px;
}
.charge-p {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 400;
  line-height: 13.3px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
}
.start-trip-div {
  margin: 0 0 41px 20px;
}
.start-trip {
  background-color: rgba(68, 136, 153, 1);
  color: white;
  font-family: Noto Sans TC;
  font-size: 19px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;

  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 154px;
  height: 36px;
}
/* !day end */
/* ! discribe block */
.discribe-block-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.describe-block {
  max-width: 1200px;
  width: 100%;
  min-height: 362px;
  height: 100%;
  /* background: purple; */
  margin-top: 40px;
  margin-bottom: 40px;
}
.the-discribe-text {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.17px;
  text-align: left;
  color: rgba(102, 102, 102, 1);

  max-width: 1180px;
  width: auto;
  height: auto;
  /* !可能需要提整高度 */
  margin: 10px 10px 20px 10px;
  /* background: pink; */
}
.location-title {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: left;
  color: rgba(102, 102, 102, 1);

  max-width: 1180px;
  width: auto;
  height: 32px;
  padding: 10px;
  background: white;
}
.location {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.17px;
  text-align: left;
  color: rgba(102, 102, 102, 1);

  max-width: 1180px;
  width: auto;
  height: 24px;

  margin: 0 10px 20px 10px;
  background: white;
}
.transport-title {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: left;
  color: rgba(102, 102, 102, 1);

  max-width: 1180px;
  width: auto;
  height: 32px;
  padding: 10px;
  background: white;
}
.transport-text {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.17px;
  text-align: left;
  color: rgba(102, 102, 102, 1);

  max-width: 1180px;
  width: auto;
  margin: 0 10px 80px 10px;
}

/* ! footer */
.foot {
  background: rgba(117, 117, 117, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 104px;
}
.foot-p {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 900px) {
  /* .attacrions {
    justify-content: center;
  } */
  .pic-day-contain {
    height: auto;
    display: flex;
  }

  .pic-day {
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .pic-day {
    margin: 0px;
    padding: 0;
    gap: 0;
  }
  .pic-on-left {
    border-radius: 0%;
    min-width: 360px;
    max-width: 900px;
    width: 100%;

    min-height: 350px;
    max-height: 900px;

    height: 100%;
  }
  .indicator {
    max-width: 900px;
    width: 100%;
    height: 12px;
    position: absolute;
    top: 328px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .day-on-right {
    max-width: 900px;
    min-width: 340px;
    width: 100%;
    min-height: 390px;
    height: 100%;
    padding: 20px 10px 40px 10px;
  }
  .grey-box {
    max-width: 900px;
    width: 100%;
    max-height: 300px;
    /* height: 100%; */
  }

  .grey-box-discribe {
    /* height: 48px; */
  }
  .describe-block {
    margin: 0;
    padding: 40px 10px;
  }
  .the-discribe-text {
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.17px;
    text-align: left;
    padding: 10px 0 0 10px;
  }
  .location-title {
    padding: 0 10px 0 20px;
  }
  .location {
    margin: 0 10px 20px 20px;
  }
  .transport-title {
    padding: 0 10px 0 20px;
  }
  .transport-text {
    margin: 0 10px 94px 20px;
  }
  .start-trip-div {
    margin: 0;
    padding: 0 0 15px 20px;
  }
}
@media (max-width: 430px) {
  .grey-box-discribe {
    height: 48px;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.17px;
    text-align: left;
  }
  .grey-box-title-p {
    margin-top: 15px;
  }
  .time-selection {
    margin: 0 20px 15px 20px;
  }
  .charge {
    height: 22px;
  }
}
