.without-nav-bar {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.result-display-ddiv {
  justify-content: flex-start;
  max-width: 1200px; /* 设置最大宽度 */
  width: 100%;
  margin: 0 auto; /* 居中容器 */
  overflow-x: auto; /* 允许横向滚动 */
  scrollbar-width: none; /* Firefox */
  box-sizing: border-box;
}

.result-display-ddiv::-webkit-scrollbar {
  display: none;
}

.result-display {
  height: 792px;
  /* display: flex; */
  flex-wrap: nowrap;
  margin: 30px 15px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.final-part {
  position: absolute;
  top: 710px;
}
.result-display-ddiv > :first-child {
  margin-left: 30px;
}
.result-display-ddiv > :last-child {
  margin-right: 30px;
}

.att-img {
  height: 255px;
}
