* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Noto Sans TC";
}

.nav-bar {
  position: relative;
  height: 54px;
  /* background: red; */
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.second-nav-bar {
  position: absolute;
  width: 1200px;
  height: 34px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: aqua; */
}

.title {
  position: absolute;
  width: 150px;
  height: 34px;
  font-family: "Noto Sans TC";
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #448899;
  left: 0;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 175px;
  height: 34px;
  right: 0px;
  bottom: 0px;
}

.firstbtn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 84px;
  height: 34px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.secondbtn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 91px;
  height: 34px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.first-bar-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 84px;
  height: 34px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  color: #666666;
  text-decoration: none;
}

.second-bar-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 92px;
  height: 34px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  color: #666666;
  text-decoration: none;
}
.second-bar-btn:hover,
.first-bar-btn:hover {
  color: #448899;
}

/* !up bar set up */
/* !search part */

.search-bar {
  height: 320px;
  width: 100%;
  background: linear-gradient(135deg, #aaddee 0%, #66aabb 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero-background-image-container {
  background-image: url("https://raw.githubusercontent.com/RaphaFang/taipei-day-trip/develop/static/pic/101.png");
  background-size: cover;
  background-position: 100% 0%;
}

.searching-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  height: 169px;
  padding: 10px;
  justify-content: space-between;
}

.search-place {
  width: 400px;
  height: 46px;

  filter: drop-shadow(0px 0px 20px #aabbcc);
  background: #ffffff;
}

.text-block {
  height: 78px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* justify-content: space-between; */
}
.up-welcome-text {
  font-family: Noto Sans TC;
  font-size: 28px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: rgba(248, 248, 248, 1);
  text-shadow: 0px 0px 30px 0px rgba(170, 187, 204, 1);
  height: 41px;
}
.down-welcome-text {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: left;
  height: 22px;
  /* top: 56px; */
  color: rgba(248, 248, 248, 1);
}
.search-place {
  height: 46px;
  width: 400px;
  /* box-shadow: 0px 0px 20px 0px rgba(170, 187, 204, 1); */
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: left;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 5px 0 0 5px;
}
.search-place::placeholder {
  width: 370px;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
}
.btn-part {
  display: flex;
}
.search-btn {
  height: 46px;
  width: 60px;
  background: rgba(68, 136, 153, 1);
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0 5px 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.pic-btn {
  width: 30px;
  height: 30px;
}

/* ! search end */
.mrt-bar-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mrt-bar {
  width: 1200px;
  height: 70px;
  background: red;
}

/* ! mrt end */

.attacrions-part {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.attacrions {
  background-color: white;
  width: 1200px;
  height: auto;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.background-image-container {
  position: relative;
  height: 242px;
  width: 270px;
  background: white;
  border-radius: 5px;
  border: solid rgba(232, 232, 232, 1);
  border-width: 1px 1px 0px 1px;
}

/* 
<div class="title-1 background-image-container">
<div class="first-part">
  <div class="attraction-pic"></div>
  <div class="attraction-name"></div>
</div>
<div class="third-part">
  <div class="mrt-name">aaa</div>
  <div class="tag-name">bbb</div>
</div>
</div> 
*/

.first-part {
  height: 197px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.attraction-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 270px;
  height: 197px;
}

.attraction-pic-hidden {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  transform-origin: center;
}
.attraction-name-div {
  position: absolute;
  top: 157px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff; /* Optional: Set text color */
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.attraction-name {
  padding-left: 10px;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: left;
}
.third-part {
  width: 100%;
  height: 45px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 5px 5px;
  border: solid rgba(232, 232, 232, 1);
  border-width: 0px 0px 1px 0px;
}
.mrt-name {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 500;
  line-height: 13.3px;
  text-align: left;
  padding-left: 10px;
  color: rgba(117, 117, 117, 1);
}
.tag-name {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 500;
  line-height: 13.3px;
  text-align: right;
  padding-right: 10px;
  color: rgba(117, 117, 117, 1);
}

/* ! attrection end */
.foot {
  background: rgba(117, 117, 117, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 104px;
}
.foot-p {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
