* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Noto Sans TC";
}

.nav-bar {
  position: relative;

  height: 54px;
  /* background: red; */
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.second-nav-bar {
  position: absolute;
  width: 1200px;
  height: 34px;
  /* left: 360px; */
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: aqua; */
}

.title {
  position: absolute;
  width: 150px;
  height: 34px;
  font-family: "Noto Sans TC";
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #448899;
  left: 0;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 175px;
  height: 34px;
  right: 0px;
  bottom: 0px;
}

.firstbtn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 84px;
  height: 34px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.secondbtn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 91px;
  height: 34px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.first-bar-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 84px;
  height: 34px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  color: #666666;
  text-decoration: none;
}

.second-bar-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 92px;
  height: 34px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  color: #666666;
  text-decoration: none;
}
.second-bar-btn:hover,
.first-bar-btn:hover {
  color: #448899;
}

/* !up bar set up */
/* !search part */

.search-bar {
  height: 320px;
  width: 100%;

  background: linear-gradient(135deg, #aaddee 0%, #66aabb 100%);

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero-background-image-container {
  background-image: url("https://raw.githubusercontent.com/RaphaFang/taipei-day-trip/develop/static/pic/101.png");
  background-size: cover;
  background-position: center center;
}

.searching-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* display: block; */
  /* height: 169px; */
  width: 1200px;
  height: 169px;
  /* left: 360px; */
  /* top: 129px; */
  padding: 10px;
}

.search-place {
  width: 400px;
  height: 46px;

  filter: drop-shadow(0px 0px 20px #aabbcc);
  background: #ffffff;
}

.text-block {
  height: 78px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.up-welcome-text {
  font-family: Noto Sans TC;
  font-size: 28px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: rgba(248, 248, 248, 1);
  text-shadow: 0px 0px 30px 0px rgba(170, 187, 204, 1);
  height: 41px;
}
.down-welcome-text {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: left;
  height: 22px;
  top: 56px;
  color: rgba(248, 248, 248, 1);
}
.search-place {
  height: 46px;
  width: 400px;
}

.search-btn {
  height: 46px;
  width: 60px;
  background-image: url("https://raw.githubusercontent.com/RaphaFang/taipei-day-trip/develop/static/pic/101.png");
}
