/* slogan */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;
gap: 10px;

position: absolute;
width: 1200px;
height: 169px;
left: 360px;
top: 129px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;

/* div */

width: 1180px;
height: 149px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* search */

position: absolute;
width: 1180px;
height: 46px;
left: 0px;
top: 103px;

/* [desktop] search bar */

position: absolute;
width: 460px;
height: 46px;
left: 0px;
top: 0px;

/* Search bar */

position: absolute;
width: 460px;
height: 46px;
left: 0px;
top: 0px;

/* input */

position: absolute;
width: 400px;
height: 46px;
left: 0px;
top: 0px;

/* Box Shadow */
filter: drop-shadow(0px 0px 20px #aabbcc);

/* input */

position: absolute;
width: 400px;
height: 46px;
left: 0px;
top: 0px;

/* White */
background: #ffffff;

/* 輸入景點名稱查詢 */

position: absolute;
width: 370px;
height: 16px;
left: 15px;
top: 15px;

/* Body - Bold 16(13.3) */
font-family: "Noto Sans TC";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 13px;
/* or 83% */
display: flex;
align-items: center;

/* Secondary Color/Gray 50 */
color: #757575;

/* btn */

position: absolute;
width: 60px;
height: 46px;
left: 400px;
top: 0px;

/* bg */

position: absolute;
width: 60px;
height: 46px;
left: 0px;
top: 0px;

/* Primary Color/Cyan 70 */
background: #448899;

/* icon / search */

position: absolute;
width: 30px;
height: 30px;
left: 15px;
top: 8px;

/* icon_search */

position: absolute;
width: 30px;
height: 30px;
left: 0px;
top: 0px;

background: url(image.png);

/* slogan */

position: absolute;
width: 1180px;
height: 78px;
left: 0px;
top: 0px;

/* 輕鬆享受台北一日悠閒 */

position: absolute;
width: 1180px;
height: 41px;
left: 0px;
top: 0px;

/* Header 1 - Bold 28(24) */
font-family: "Noto Sans TC";
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 24px;
/* or 86% */
display: flex;
align-items: center;

/* Secondary Color/Gray 10 */
color: #f8f8f8;

/* Text Shadow */
text-shadow: 0px 0px 30px #aabbcc;

/* 探索每個角落，體驗城市的深度旅遊行程 */

position: absolute;
width: 1180px;
height: 22px;
left: 0px;
top: 56px;

/* Body - Bold 16(13.3) */
font-family: "Noto Sans TC";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 13px;
/* or 83% */
display: flex;
align-items: center;

/* Secondary Color/Gray 10 */
color: #f8f8f8;
